* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #00B2EE;
}

#header_value {
    background-color: white;
    height: 90px;
}

#logo {
    height: 70px;
    margin : 5px 0px 0px 30px;
}

#title {
    font-weight: bold;
    height: 120px;
    font-size: 45px;
    vertical-align: middle;
    display: inline-block;
}

.whitecontainer {
    background-color: white;
    height: 750px;
    width: 70%;
    margin: auto;
    margin-top: 60px;
    border-radius: 10px;
}

.add_task {
    background-color: #00B2EE;
    height: 40px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    line-height: 40px;
    margin: 20px 0px 10px 100px;
    display: inline-block;
    font-weight: bold;
    border:none;
}

.add_sections{
    margin-left: 25px;
    border: 2px solid lightgray;
    height: 40px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    line-height: 40px;
    display:inline-block
}

.margin {
    margin-left: 100px;
}

h2::before {
    content: "\2714";
    margin-right: 10px
}
.section{
    margin-top: 15px;
}

/* Spunta "True" */
.check::before{
    content: "\2713";
    color: #40ffff ;
    border: 2px solid #40ffff ;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 19px;
    margin-right: 15px;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}

/*Spunta "False" */
.cross::before {
    content: "\2715";
    color: red ;
    border: 1px solid red ;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    display: inline-block;
    line-height: 19px;
    margin-right: 15px;
    font-size: 21px;
    text-align: center;
}

.font {
    font-size: 20px;
}

.editorial {
    background-color: #00B2EE;
    height: 30px;
    width: 80px;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    color: white;
    font-size: 15px;
    margin-left: 3px;
}

.q1goals {
    background-color: 	#B452CD;
    height: 30px;
    width: 95px;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    color: white;
    font-size: 15px;
}

.recruiting {
    background-color: 	aqua;
    height: 30px;
    width: 95px;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    color: white;
    font-size: 15px;
}

.mobile {
    background-color: 	#ffa420;
    height: 30px;
    width: 75px;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    color: white;
    font-size: 15px;
    margin-left: 3px;
}

.website{
    background-color: 	#EE00EE;
    height: 30px;
    width: 85px;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    color: white;
    font-size: 15px;
    margin-left: 3px;
}

.sales {
    background-color: 	#B3EE3A;
    height: 30px;
    width: 70px;
    line-height: 30px;
    text-align: center;
    border-radius: 50px;
    display: inline-block;
    color: white;
    font-size: 15px;
    margin-left: 3px;
}