* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container img {
    margin : 12px 0px 0px 30px;
}

#header_value {
    background-color: white;
    height: 100px;
}

#logo {
    height: 75px;
}
#title {
    height: 130px;
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
    vertical-align: middle;
    display: inline-block
}


body {
    background-color: #00B2EE;
}